@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll personalizado*/
::-webkit-scrollbar{
    width: 8px;
    background-color: #91B884;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #121E0E;
    border-radius: 10px;
  }

  
body {
 background-color: #91B884;
}


@media (max-width: 600px){

  /* Pagina Inicial - Mobile */
  #menu{
    display:none;
  }
  #logo{
    display:inline;
    color:white;
    position: absolute;
    padding:10px;
  }
  #nuvem1{
    display:none;
  }
  #texto_inicial{
    width:85%;
  }
  #texto_inicial > h1{
   font-size: 12vw;
  }
  #texto_inicial > p{
    font-size: 5vw;
   }
  #copyright{
    display:none;
  }
  #nuvem_mobile{
    display:block;
  }
  #menu_mobile{
    display:block;
  }

 /* Pagina de Perfil - Mobile */
 #divPerfil{
    width:90%;
    padding:7px;
 }
 #textoPerfil{
    font-size: 3.3vw;
    padding:10px;
 }
 #imagemPerfil{ 
    width:120px;
    height:120px;
 }
 #imagemLinkedin{
    width:50px;
    height:50px;
 }
 #imagemInstagram{
    width:50px;
    height:50px;
 }

  /* Pagina de Projetos - Mobile */
  #divCentralProjetos{
    margin-top:20px;
    height:75%;
  }
  #divCardsProjetos{
    width:85%;
    height:240px;
    padding:12px;
  }
  #divCardsProjetos>h1{
    font-size:6vw;
  }
  


}
